@using System.Data
@using Newtonsoft.Json
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userSummary = JsonConvert.DeserializeObject<List<Dictionary<string, object>>>(ViewBag.UserSummary.ToString());
    var categorySummary = JsonConvert.DeserializeObject<List<Dictionary<string,
    object>>>(ViewBag.CategorySummary.ToString());
}
<section class="hero-area style3">
    <!-- Single Slider -->
    <div class="hero-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 co-12">
                    <div class="inner-content">
                        <div class="hero-text">
                            <h1 class="wow fadeInUp" data-wow-delay=".3s">Find the Most Exciting<br> Jobs to Make a
                                Better Life
                            </h1>
                            <p class="wow fadeInUp" data-wow-delay=".5s">Creating a beautiful job website is not
                                easy always. To make<br> your life easier, we are introducing Jobcamp template,<br>
                                Leverage agile frameworks to provide a robust<br> synopsis for high level overviews.
                            </p>
                            <div class="button wow fadeInUp" data-wow-delay=".7s">
                                <a href="#" class="btn">Search Jobs</a>
                            </div>
                        </div>
                        <div class="job-search-wrap-two mt-50 wow fadeInUp" data-wow-delay=".9s">
                            <div class="trending-keywords mt-30">
                                <div class="keywords style-two">
                                    <span class="title">Popular Keywords:</span>
                                    <ul>
                                        <li><a href="#">Administrative</a></li>
                                        <li><a href="#">Android</a></li>
                                        <li><a href="#">app</a></li>
                                        <li><a href="#">ASP.NET</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-0 col-md-8 offset-md-2 co-12">
                    <form class="home-search wow fadeInRight" data-wow-delay=".5s">
                        <div class="form-group">
                            <label class="font-weight-bold text-dark">What?</label>
                            <div class=" form-location">
                                <input type="text" class="form-control" placeholder="What are you looking for...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold text-dark">Where?</label>
                            <div class="form-location">
                                <input type="text" class="form-control" placeholder="Where...">
                            </div>
                        </div>
                        <div class="form-group select-border">
                            <label class="font-weight-bold text-dark">Choose Category?</label>
                            <select class="form-control basic-select">
                                <option>All categories </option>
                                <option>Finance </option>
                                <option>Sale/Markting </option>
                                <option>Education/Training </option>
                                <option>Technologies</option>
                                <option>Art/Design</option>
                                <option>Healthcare</option>
                            </select>
                        </div>
                        <div class="button">
                            <a class="btn" href="#"> Search </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Single Slider -->
</section>

<section class="apply-process section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="process-item">
                    <i class="lni lni-user"></i>
                    <h4>Register Your Account</h4>
                    <p class="pb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="" class="btn btn-light"><i class="lni lni-upload"></i> Register Your
                        Profile</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="process-item">
                    <i class="lni lni-book"></i>
                    <h4>Upload Your Resume</h4>
                    <p class="pb-3">Don’t just find. Be found. Put your CV in front of great employers</p>
                    <a href="" class="btn btn-light"><i class="lni lni-upload"></i> Upload Your
                        Resume</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="process-item">
                    <i class="lni lni-briefcase"></i>
                    <h4>Apply for Dream Job</h4>
                    <p class="pb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="" class="btn btn-light"><i class="lni lni-upload"></i> Apply Your
                        Dream Job</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="find-job section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Browse Recent Jobs
                    </h2>
                    @* <p class="wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">There are many
                        variations of passages of Lorem
                        Ipsum available, but the majority have suffered alteration in some form.</p> *@
                </div>
            </div>
        </div>
        <div class="single-head">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <!-- Single Job -->
                    <div class="single-job wow fadeInUp" data-wow-delay=".3s"
                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="job-content">
                            <h4>
                                <img src="assets/images/jobs/img1.png" alt="#" style="padding-right: 5px;">
                                <a href="job-details.html">Software
                                    Engineer</a>
                            </h4>
                            <p>We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                week. All leads are pre-scheduled. </p>
                            <ul>
                                <li><i class="lni lni-website"></i><a href="#"> winbrans.com</a></li>
                                <li><i class="lni lnis-rupee"></i> ₹20k - ₹25k</li>
                                <li><i class="lni lni-map-marker"></i> New York</li>
                            </ul>
                        </div>
                        <div class="job-button">
                            <ul>
                                <li><a href="job-details.html">Apply</a></li>
                                <li><span>full time</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="single-job wow fadeInUp" data-wow-delay=".3s"
                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="job-content">
                            <h4>
                                <img src="assets/images/jobs/img1.png" alt="#" style="padding-right: 5px;">
                                <a href="job-details.html">Software
                                    Engineer</a>
                            </h4>
                            <p>We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                week. All leads are pre-scheduled. </p>
                            <ul>
                                <li><i class="lni lni-website"></i><a href="#"> winbrans.com</a></li>
                                <li><i class="lni lnis-rupee"></i> ₹20k - ₹25k</li>
                                <li><i class="lni lni-map-marker"></i> New York</li>
                            </ul>
                        </div>
                        <div class="job-button">
                            <ul>
                                <li><a href="job-details.html">Apply</a></li>
                                <li><span>full time</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination -->
            <div class="row">
                <div class="col-12">
                    <div class="pagination center wow fadeInUp" data-wow-delay=".3s"
                        style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                        <ul class="pagination-list">
                            <li><a href="#"><i class="lni lni-arrow-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="lni lni-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/ End Pagination -->
        </div>
    </div>
</section>